@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@media (max-width: 640px) {
    .heading {
        font-size: 6vw;
    }
}

canvas {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    background: radial-gradient(rgba(255, 255, 255, 0.5), 50%, rgba(0, 0, 0, 0.5));

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    width: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.17);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.overlay {
    background: rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(0, 0, 0, 0.39);
    box-shadow: 20px 30px 80px rgba(0, 0, 0, 0.6);
}

.heading {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: large;
    font-size: calc(2vw + 20px);
    ;

}